@model List<Movie>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Genre</th>
        <th>Runtime</th>
        <th>Release Year</th>
        <th>Rental Cost</th>
        <th><a class="btn" href=".../Movie"></a></th>
    </tr>

    @foreach (int i = 0; int < Model.Count; i++)
    {
        <tr>
            <td>@Model.[i]ID</td>
            <td>@Model.[i]Title</td>
            <td>@Model.[i]Genre</td>
            <td>@Model.[i]Runtime</td>
            <td>@Model.[i]ReleaseYear</td>
            <td>@Model.[i]RentalCost</td>
            <td><a class="btn btn-success" href="../Movie/RemoveFromCart?i=@Model.[i] ">Remove</a></td>
        </tr>
    }
</table>