@model List<Movie>

    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Genre</th>
            <th>Runtime</th>
            <th>Release Year</th>
            <th>Rental Cost</th>
            <th><a class="btn" href=".../Movie"></a></th>
        </tr>

        @foreach (Movie movie in Model)
        {
            <tr>
                <td>@movie.ID</td>
                <td>@movie.Title</td>
                <td>@movie.Genre</td>
                <td>@movie.Runtime</td>
                <td>@movie.ReleaseYear</td>
                <td>@movie.RentalCost</td>
                <td><a class="btn btn-success" href="../Movie/RemoveFromCart?i=@movie.ID ">Remove</a></td>
            </tr>
        }
    </table>

@Html.ActionLink("Checkout","Receipt")