@model IEnumerable<Lab21MovieRegistration.Models.Movie>

@{
    ViewData["Title"] = "Receipt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Receipt</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Runtime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentalCost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Runtime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentalCost)
            </td>
            <td>

            </td>
        </tr>
}
    </tbody>
</table>
@{ 
    double cost = Model.Count() * 6.99;
}
<div>Total Cost: @cost</div>
<div>
    <a asp-action="ClearCart">Clear Cart</a>
</div>

